<header>
    <nav>
        <div class="logo-wrapper">
            <a href="/"><img src="images/img_header_logo.png" alt="로고 들어갈 자리"></a>
        </div>
        <ul>
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>로그인</a></li>
            <li><a href="/join"><i class="fa-solid fa-user"></i>회원가입</a></li>
        </ul>
    </nav>
</header>